.nav__input{
  position: relative;
  display: flex;
  background: red;
  width: 455px;
  input{
    height: 20px;
    width: 100%;
    padding: 10px 15px;
    border-radius: 4px;
    outline: 1px solid gray;
    border: none;
    &:focus{
      outline: 2px solid #3998e5;
    }
  }

  & > .icon__search{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0%, -50%);

    &:hover{
      color: #3998e5;
    }

    &.active{
      color: #3998e5;
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

