nav{
  background: white;
  padding: 10px 100px;
  box-sizing: border-box;
  box-shadow: 0px 1px 10px #888888;
  position: sticky;
  top: 0vh;
  z-index: 2;
  .nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (max-width: 668px) {
    padding: 10px 50px;
  }
  @media screen and (max-width: 668px) {
    padding: 10px 20px;
  }
}
